@model IEnumerable<AppCuerdasVibrantes.Models.Entities.PIEZOMETROS_REPORTES_EXCEL>

@{
    ViewData["Title"] = "VerDetalleExcelCargado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()

</script>

<br />

<form asp-action="VerDetalleExcelCargado" method="post">
    <div class="row">


        <div class="col-md-12">
            <div class="card">
                <div class="header">

                    <h2><strong>Datos de Archivo </strong> Cargado <small></small></h2>
                    <div class="row clearfix">
                        <div class="col-lg-0 col-md-12">
                            <div class="form-group">
                                <br />

                                <strong><p>El input de datos del archivo cargado aparecera aqui, tambien puede realizar busquedas por Piezometer id</p></strong>
                                <br />
                            </div>
                        </div>

                        <br />

                        <div class="col-lg-3 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" name="piezometer_name" placeholder="Buscar piezometro en input cargado">
                            </div>
                        </div>


                        <div class="col-lg-2 col-md-12">
                            <div class="form-group">

                                @{
                                    var search = 'B';

                                }


                                <button type="submit" value="@search" name="accion" class="btn btn-raised btn-round btn-info">Buscar</button>


                            </div>



                        </div>
                    </div>



                </div>

            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card student-list">
                    <div class="header">
                        <h2><strong>Datos</strong> del archivo cargado</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Exportar <i class="zmdi zmdi-more"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right slideUp">
                                    <li> <a onclick="tableToExcel('example', 'DatosExcel')" style="cursor:pointer">Exportar a Excel</a></li>
                                </ul>
                            </li>
                        </ul>

                        @*<ul class="header-dropdown">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-right slideUp">
                                        <li><a href="javascript:void(0);">Exportar a Excel</a></li>
                                    </ul>
                                </li>

                            </ul>*@
                    </div>
                    <div class="body">
                        <div class="table-responsive" style="height: 380px">

                            <table class="table table-hover m-b-0" id="example">
                                <thead>
                                    <tr>
                                        <th>
                                            <strong>#</strong>
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.piezometro_id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.fecha)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.to_valor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ro_valor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.so_valor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.elevacion_superficie)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.observacion)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.archivo_excel)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.usuario)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.fecha_carga)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var num = 1;

                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="vertical-align:middle;">
                                                @num
                                            </td>
                                            <td>
                                                <strong>@Html.DisplayFor(modelItem => item.piezometro_id)</strong>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fecha)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.to_valor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ro_valor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.so_valor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.elevacion_superficie)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.observacion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.archivo_excel)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.usuario)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.fecha_carga)
                                            </td>
                                            <td>
                                                @*<a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                                                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                                                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>*@
                                            </td>
                                            @{num = num + 1;}
                                        </tr>
                                    }
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>



<div>
    <a class="btn btn-danger" asp-controller="Archivos" asp-action="VerArchivos">Atras</a>
</div>





